* {
    box-sizing: border-box;
    
  }

  .column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; 
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .img{
    height: 106px;
    margin: -28px;
    width: 50px;
  }
.img_style
{
    padding: 112px 0 16px
}
.h2_style{
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 32px;
    width: 500px;
    position: relative;
    top: -45px;
    left: 40px;
}
.stylebutton{
    background-color: #42b72a;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 17px;
    line-height: 48px;
    padding: 0 16px;
}
.style_button{
    background-color: #1877f2;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    padding: 0 16px;
    width: 332px;
}
input{
    width: 350px;
    height: 34px;
    color: #1d2129;
}
.style_form
{
text-align: center;
background-color: #fff;
border: none;
border-radius: 8px;
box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
box-sizing: border-box;
margin: 40px 0 0;
padding: 20px 0 28px;
width: 396px;
}
.line{
    width: 350px;

}
